.modal-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 1050; 
    width: 10% !important
  }

  .modal-content {
    max-width: "100px";
    border-color: transparent;
    background: white ; /* Make the modal background transparent */
    box-shadow: none; /* Remove the modal box shadow */
  }

